{% extends "base.html" %}
{% block content %}

<h1 class="page_header"> Pick a category.</h1>



<div id="bitstripholder"
<a href="{{ url_for('badges') }}"><div class="bitstripchar"><img src="../static/BASH.png"></div></a>
<a href="{{ url_for('badges') }}"><div class="bitstripchar"><img src="../static/Python.png"></div></a>
<a href="{{ url_for('badges') }}"><div class="bitstripchar"><img src="../static/HTML.png"></div></a>
<a href="{{ url_for('badges') }}"><div class="bitstripchar"><img src="../static/CSS.png"></div></a>
<a href="{{ url_for('badges') }}"><div class="bitstripchar"><img src="../static/SQL.png"></div></a>
<a href="{{ url_for('badges') }}"><div class="bitstripchar"><img src="../static/JavaScript.png"></div></a>
<a href="{{ url_for('badges') }}"><div class="bitstripchar"><img src="../static/FlaskDjango.png"></div></a>
</div>

<div id="bitstripholder">
	<div class="bitstriplabel">BASH</div>
	<div class="bitstriplabel">Python</div>
	<div class="bitstriplabel">HTML</div>
	<div class="bitstriplabel">CSS</div>
	<div class="bitstriplabel">SQL</div>
	<div class="bitstriplabel">JavaScript</div>
	<div class="bitstriplabel">Flask/Django</div>	
</div>

<div id="badgebutton_holder">
		<div class="badgebutton">Human-Centered Design</div>
		<div class="badgebutton">Working in the movement</div>
</div>

{% endblock %}
