{% extends "base.html" %}
{% block content %}

<h1 class="page_header"> {% if category=="FlaskDjango" %}Flask & Django{% else %}{{category}}{% endif %}.</h1>
<table class="badgetable">
{% for badge in badges %}
<tr>
<td>
	<div class="badge">
		<br>{% if category=="FlaskDjango" %}Flask & Django{% else %}{{category}}{% endif %} {{badge.number}}<br><img src="../static/{{category}}{{badge.number}}.png" height=80px>
	</div>
</td>
<td>
		<span class="badgename"><br>{{badge.name}}</span><br>{{badge.description}}<br><br>
			{% if badge.woodshedding or badge.exercise1 or badge.exercise2 or badge.challenge %}<a href="{{ url_for('badge_exercises', id=badge.id )}}">Practice exercises</a>{% endif %}
	</span>
</td>
</tr>

{% endfor %}

{% endblock %}
