<!doctype html>
<html>
        <head>
                <title>Community - Code for Progress</title>
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        </head>

	<body>

        <div id="banner">
                <a href="{{ url_for('lessons') }}"><div class="navbutton">Home</div></a>        
                <a href="{{ url_for('badges') }}"><div class="navbutton">Badges</div></a>
        </div>

        <div id="header">
                <img src="../static/CFPlogo.jpg">
                <div id="triangle"></div>
        </div>

	
	<div id="main_content">
	{% block content %}

        {% endblock %}
	</div>



	</body>

</html>
