{% extends "base.html" %}
{% block content %}

<h1 class="page_header"> Code It Yourself.</h1>

Choose a fellow's Github account to read their code or contribute to a project.
<br><br><br><div id="fellowholder">
<a href="http://www.github.com/AngieBrilliance"><div class="fellow"><img src="../static/angie.png"><span class="text-content"><span>Angie Rollins</span></span></div></a>
<a href="http://www.github.com/TerriAcker"><div class="fellow"><img src="../static/terri.png"><span class="text-content"><span>Terri Acker</span></span></div></a>
<a href="http://www.github.com/SelinaMusuta"><div class="fellow"><img src="../static/selina.png"><span class="text-content"><span>Selina Musuta</span></span></div></a>
<a href="http://www.github.com/AureaMartinez"><div class="fellow"><img src="../static/aurea.png"><span class="text-content"><span>Aurea Martinez</span></span></div></a>
</div>
<div id="fellowholder">
<a href="http://www.github.com/pam2071"><div class="fellow"><img src="../static/pam.png"><span class="text-content"><span>Pam Davis</span></span></div></a>
<a href="http://www.github.com/BobbyJoeSmith3"><div class="fellow"><img src="../static/bobbyjoe.png"><span class="text-content"><span>Bobby Joe Smith III</span></span></div></a>
<a href="http://www.github.com/jhtdc"><div class="fellow"><img src="../static/jason.png"><span class="text-content"><span>Jason Towns</span></span></div></a>
<a href="http://www.github.com/DagoBailon"><div class="fellow"><img src="../static/dago.png"><span class="text-content"><span>Dagoberto Bailon</span></span></div></a>
</div>
<div id="fellowholder">
<a href="http://www.github.com/KittyLee"><div class="fellow"><img src="../static/kathy.png"><span class="text-content"><span>Kathy Ortiz</span></span></div></a>
<a href="http://www.github.com/ElaineKamlley"><div class="fellow"><img src="../static/elaine.png"><span class="text-content"><span>Elaine Kamlley</span></span></div></a>
<a href="http://www.github.com/CasidyHenderson"><div class="fellow"><img src="../static/casidy.png"><span class="text-content"><span>Casidy Henderson</span></span></div></a>
<a href="http://www.github.com/MariellaP123"><div class="fellow"><img src="../static/mariella.png"><span class="text-content"><span>Mariella Paulino</span></span></div></a>
</div>

<br><br>
<p>Or, if you have Python installed, <a href="../static/FellowTrivia.py" id="code_link">download the 2014 Fellows' trivia game</a> and run it! Just type: python FellowsTrivia.py</p>


{% endblock %}
