{% extends "base.html" %}
{% block content %}

<h1 class="page_header"> Lessons.</h1>
<h2 class="page_header" class="green_head"> Week 1 (Code, Power, and the Big Picture: Why us and why now?)</h2>
<div id="weekholder_green">
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 1</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 2</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 3</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 4</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 5</div></a>
</div>

<h2 class="page_header" class="green_head"> Week 2 (Grassroots and Building Blocks)</h2>
<div id="weekholder_gray">
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 1</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 2</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 3</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 4</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 5</div></a>
</div>

<h2 class="page_header" class="green_head"> Week 3 (Doors and Phones and Code and Power: Seeing communities through Data)</h2>
<div id="weekholder_blue">
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 1</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 2</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 3</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 4</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 5</div></a>
</div>

<h2 class="page_header" class="green_head"> Week 4 (Fast, Furious Data Driving: Databases and SQL for understanding communities)</h2>
<div id="weekholder_green">
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 1</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 2</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 3</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 4</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 5</div></a>
</div>

<h2 class="page_header" class="green_head"> Week 5 (Code for Ordinary People... Take it slow: Toolkit 1)</h2>
<div id="weekholder_gray">
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 1</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 2</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 3</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 4</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 5</div></a>
</div>

<h2 class="page_header" class="green_head"> Week 6 (Who Runs the World? urls.)</h2>
<div id="weekholder_blue">
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 1</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 2</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 3</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 4</div></a>
<a href="{{ url_for('lesson', id=1) }}"><div class="lessonbutton">Day 5</div></a>
</div>

{% endblock %}
