{% extends "base.html" %}
{% block content %}

<h1 class="page_header"> Lessons.</h1>
<h2 class="page_header" class="green_head"> Week 1: Radical Welcomings - Code, Power, and the Big Picture</h2>
<div id="weekholder_green">
{% for day in [1,2,3,4,5] %}<a href="{{ url_for('lesson', id=day) }}"><div class="lessonbutton">Day {{day}}</div></a>{% endfor %}
</div>


<h2 class="page_header" class="green_head"> Week 2: Grassroots and Building Blocks</h2>
<div id="weekholder_gray">
<a href="{{ url_for('lesson', id=6) }}"><div class="lessonbutton">Day 1</div></a>
<a href="{{ url_for('lesson', id=7) }}"><div class="lessonbutton">Day 2</div></a>
<a href="{{ url_for('lesson', id=8) }}"><div class="lessonbutton">Day 3</div></a>
<a href="{{ url_for('lesson', id=9) }}"><div class="lessonbutton">Day 4</div></a>
<a href="{{ url_for('lesson', id=10) }}"><div class="lessonbutton">Day 5</div></a>
</div>


<h2 class="page_header" class="green_head"> Week 3: Doors and Phones and Code and Power: Seeing communities through Data</h2>
<div id="weekholder_blue">
<a href="{{ url_for('lesson', id=11) }}"><div class="lessonbutton">Day 1</div></a>
<a href="{{ url_for('lesson', id=12) }}"><div class="lessonbutton">Day 2</div></a>
<a href="{{ url_for('lesson', id=13) }}"><div class="lessonbutton">Day 3</div></a>
<a href="{{ url_for('lesson', id=14) }}"><div class="lessonbutton">Day 4</div></a>
<a href="{{ url_for('lesson', id=15) }}"><div class="lessonbutton">Day 5</div></a>
</div>


<h2 class="page_header" class="green_head"> Week 4: Fast, Furious Data Driving: Databases and SQL for understanding communities</h2>
<div id="weekholder_green">
<a href="{{ url_for('lesson', id=16) }}"><div class="lessonbutton">Day 1</div></a>
<a href="{{ url_for('lesson', id=17) }}"><div class="lessonbutton">Day 2</div></a>
<a href="{{ url_for('lesson', id=18) }}"><div class="lessonbutton">Day 3</div></a>
<a href="{{ url_for('lesson', id=19) }}"><div class="lessonbutton">Day 4</div></a>
<a href="{{ url_for('lesson', id=20) }}"><div class="lessonbutton">Day 5</div></a>
</div>

<h2 class="page_header" class="green_head">Week 5: Code for Ordinary People: Linking back-end and front-end code for usable apps</h2>
<div id="weekholder_gray">
<a href="{{ url_for('lesson', id=21) }}"><div class="lessonbutton">Day 1</div></a>
<a href="{{ url_for('lesson', id=22) }}"><div class="lessonbutton">Day 2</div></a>
<a href="{{ url_for('lesson', id=23) }}"><div class="lessonbutton">Day 3</div></a>
<a href="{{ url_for('lesson', id=24) }}"><div class="lessonbutton">Day 4</div></a>
<a href="{{ url_for('lesson', id=25) }}"><div class="lessonbutton">Day 5</div></a>
</div>

<h2 class="page_header" class="green_head">Week 6: Who runs the world? urls.</h2>
<div id="weekholder_blue">
<a href="{{ url_for('lesson', id=26) }}"><div class="lessonbutton">Day 1</div></a>
<a href="{{ url_for('lesson', id=27) }}"><div class="lessonbutton">Day 2</div></a>
<a href="{{ url_for('lesson', id=28) }}"><div class="lessonbutton">Day 3</div></a>
<a href="{{ url_for('lesson', id=29) }}"><div class="lessonbutton">Day 4</div></a>
<a href="{{ url_for('lesson', id=30) }}"><div class="lessonbutton">Day 5</div></a>
</div>


{% endblock %}
